[submodule "pack/plugins/start/nerdcommenter"]
	path = pack/plugins/start/nerdcommenter
	url = git@github.com:scrooloose/nerdcommenter.git
[submodule "pack/plugins/start/nerdtree"]
	path = pack/plugins/start/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "pack/plugins/start/Nvim-R"]
	path = pack/plugins/start/Nvim-R
	url = git@github.com:jalvesaq/Nvim-R.git
[submodule "pack/plugins/start/vCoolor.vim"]
	path = pack/plugins/start/vCoolor.vim
	url = git@github.com:KabbAmine/vCoolor.vim.git
[submodule "pack/plugins/start/vim-airline"]
	path = pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "pack/plugins/start/vim-airline-themes"]
	path = pack/plugins/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "pack/plugins/start/vim-fugitive"]
	path = pack/plugins/start/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "pack/plugins/start/vim-latex"]
	path = pack/plugins/start/vim-latex
	url = git@github.com:vim-latex/vim-latex.git
[submodule "pack/plugins/start/vim-openscad"]
	path = pack/plugins/start/vim-openscad
	url = git@github.com:sirtaj/vim-openscad.git
[submodule "pack/plugins/start/vim-slime"]
	path = pack/plugins/start/vim-slime
	url = git@github.com:jpalardy/vim-slime.git
[submodule "pack/plugins/start/vim-surround"]
	path = pack/plugins/start/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "pack/plugins/start/vim-taskwarrior"]
	path = pack/plugins/start/vim-taskwarrior
	url = git@github.com:blindFS/vim-taskwarrior.git
[submodule "pack/plugins/start/vim-repeat"]
	path = pack/plugins/start/vim-repeat
	url = git@github.com:tpope/vim-repeat.git
[submodule "pack/plugins/start/goyo.vim"]
	path = pack/plugins/start/goyo.vim
	url = git@github.com:junegunn/goyo.vim.git
[submodule "pack/plugins/start/ctrlp.vim"]
	path = pack/plugins/start/ctrlp.vim
	url = git@github.com:kien/ctrlp.vim.git
[submodule "pack/plugins/start/command-t"]
	path = pack/plugins/start/command-t
	url = git@github.com:wincent/command-t.git
[submodule "pack/plugins/start/vim-game-code-break"]
	path = pack/plugins/start/vim-game-code-break
	url = https://github.com/johngrib/vim-game-code-break.git
[submodule "pack/plugins/start/vim-mucomplete"]
	path = pack/plugins/start/vim-mucomplete
	url = git@github.com:lifepillar/vim-mucomplete.git
[submodule "pack/plugins/start/vim-notmuch-address"]
	path = pack/plugins/start/vim-notmuch-address
	url = git@github.com:adborden/vim-notmuch-address.git
[submodule "pack/plugins/start/emmet-vim"]
	path = pack/plugins/start/emmet-vim
	url = git@github.com:mattn/emmet-vim.git
[submodule "pack/plugins/start/wal.vim"]
	path = pack/plugins/start/wal.vim
	url = https://github.com/dylanaraps/wal.vim.git
[submodule "pack/plugins/start/colorv.vim"]
	path = pack/plugins/start/colorv.vim
	url = git@github.com:gu-fan/colorv.vim.git
[submodule "pack/plugins/start/colorizer"]
	path = pack/plugins/start/colorizer
	url = git@github.com:lilydjwg/colorizer.git
[submodule "pack/plugins/start/--force"]
	path = pack/plugins/start/--force
	url = git@github.com:dbeniamine/vim-mail.git
[submodule "pack/plugins/start/i3config.vim"]
	path = pack/plugins/start/i3config.vim
	url = git@github.com:mboughaba/i3config.vim.git
[submodule "pack/plugins/start/rainbow_csv"]
	path = pack/plugins/start/rainbow_csv
	url = git@github.com:mechatroner/rainbow_csv.git
[submodule "pack/plugins/start/thesaurus_query.vim"]
	path = pack/plugins/start/thesaurus_query.vim
	url = git@github.com:Ron89/thesaurus_query.vim.git
[submodule "pack/plugins/start/limelight.vim"]
	path = pack/plugins/start/limelight.vim
	url = git@github.com:junegunn/limelight.vim.git
[submodule "pack/plugins/start/vimwiki"]
	path = pack/plugins/start/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
[submodule "pack/plugins/start/vim-rooter"]
	path = pack/plugins/start/vim-rooter
	url = https://github.com/airblade/vim-rooter.git
[submodule "pack/plugins/start/indentLine"]
	path = pack/plugins/start/indentLine
	url = https://github.com/Yggdroot/indentLine.git
